.map{
	margin:50px 17% 0;
	width:66%;
	position: absolute;

}

#Map {
	border: none;
	height: auto;
	max-width: 100%;
	width: auto;
} 

.popover{
	z-index:1!important;
	display:none;
	max-width:400px!important;
}

.popover-content-right{
	display:inline-block;
	float:right;
}
.popover-content-left{
	display:inline-block;
	margin-right:10px;
}