.map{
	margin:50px 17% 0;
	width:66%;
	position: absolute;
}
.letter{
	position: absolute;
	z-index: -1;
}
#Map {
	border: none;
	height: auto;
	max-width: 100%;
	width: auto;
} 
.popover{
	z-index:1!important;
	display:none;
	max-width:400px!important;
}
.popover-content-right{
	display:inline-block;
	float:right;
}
.popover-content-left{
	display:inline-block;
	margin-right:10px;
}

.popover.top-left > .arrow {
  top: 10%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.popover.top-left > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #f7f7f7;
  border-left-width: 0;
}
.popover.bottom-left > .arrow {
  top: 90%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.popover.bottom-left > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.popover.top-right > .arrow {
  top: 10%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.popover.top-right > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #f7f7f7;
}
.popover.bottom-right > .arrow {
  top: 90%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.popover.bottom-right > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}