.map{
	margin:50px 17% 0;
	width:66%;
	position: absolute;
}
#letter1{
	top:140px;
	left:260px;
	position: absolute;
	z-index: -1;
}
#letter2{
	top:250px;
	left:340px;
	position: absolute;
	z-index: -1;
}
#letter3{
	top:180px;
	left:490px;
	position: absolute;
	z-index: -1;
}
#letter4{
	top:300px;
	left:820px;
	position: absolute;
	z-index: -1;
}
#letter5{
	top:510px;
	left:640px;
	position: absolute;
	z-index: -1;
}
#letter6{
	top:395px;
	left:545px;
	position: absolute;
	z-index: -1;
}
#letter7{
	top:210px;
	left:690px;
	position: absolute;
	z-index: -1;
}
#letter8{
	top:330px;
	left:640px;
	position: absolute;
	z-index: -1;
}
#letter9{
	top:385px;
	left:400px;
	position: absolute;
	z-index: -1;
}
#letter10{
	top:450px;
	left:210px;
	position: absolute;
	z-index: -1;
}
#letter11{
	top:380px;
	left:50px;
	position: absolute;
	z-index: -1;
}
#letter12{
	top:280px;
	left:50px;
	position: absolute;
	z-index: -1;
}
#letter13{
	top:120px;
	left:95px;
	position: absolute;
	z-index: -1;
}
#letter14{
	top:40px;
	left:380px;
	position: absolute;
	z-index: -1;
}
#letter15{
	top:100px;
	left:900px;
	position: absolute;
	z-index: -1;
}
.letter{
	font-size: 12pt;
}
@media(min-width: 1025px){
	.letter{
		font-size: 15pt;
	}
}
#Map {
	border: none;
	height: auto;
	max-width: 100%;
	width: auto;
} 
.popover{
	z-index:1!important;
	display:none;
	max-width:400px!important;
}
.popover-content{
	overflow: auto;
	max-height: 140px!important;
}
.popover.top-left > .arrow {
  top: 10%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.popover.top-left > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #f7f7f7;
  border-left-width: 0;
}
.popover.bottom-left > .arrow {
  top: 90%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.popover.bottom-left > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.popover.top-right > .arrow {
  top: 10%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.popover.top-right > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #f7f7f7;
}
.popover.bottom-right > .arrow {
  top: 90%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.popover.bottom-right > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}